<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="Static/css/bootstrap.min.css">
<title></title>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container-fluid">
							<a data-target=".navbar-responsive-collapse"
								data-toggle="collapse" class="btn btn-navbar"><span
								class="icon-bar"></span><span class="icon-bar"></span><span
								class="icon-bar"></span></a> <a href="#" class="brand">小当家</a>
							<div class="nav-collapse collapse navbar-responsive-collapse">
								<ul class="nav">
									<li class="active"><a href="#">导航导航</a></li>
									<li><a href="#">导航导航</a></li>
									<li><a href="#">导航导航</a></li>
									<li><a href="#">导航导航</a></li>
									<li><a href="#">导航导航</a></li>
									<li><a href="#">导航导航</a></li>
									<li><a href="#">导航导航</a></li>
									<li><a href="#">导航导航</a></li>
									<li><a href="#">导航导航</a></li>
								</ul>
								<ul class="nav pull-right">
									<li><a href="#">右边链接</a></li>
									<li class="divider-vertical"></li>
									<li class="dropdown"><a data-toggle="dropdown"
										class="dropdown-toggle" href="#">管理<strong class="caret"></strong></a>
										<ul class="dropdown-menu">
											<li><a href="#">创建钱包</a></li>
											<li><a href="#">销毁钱包</a></li>
											<li class="divider"></li>
											<li><a href="#">退出</a></li>
										</ul></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>nav</strong>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">列表标题</li>
					<li class="active"><a href="#">首页</a></li>
					<li><a href="#">库</a></li>
					<li><a href="#">应用</a></li>
					<li class="nav-header">功能列表</li>
					<li><a href="#">资料</a></li>
					<li><a href="#">设置</a></li>
					<li class="divider"></li>
					<li><a href="#">帮助</a></li>
				</ul>
			</div>
			<div class="span6">
				<div class="row-fluid">
					<div class="span12">a</div>
				</div>
				<div class="row-fluid">
					<div class="span12">b</div>
				</div>
				<div class="row-fluid">
					<div class="span12">c</div>
				</div>
			</div>
			<div class="span4">
				<div class="row-fluid">
					<div class="span12">d</div>
				</div>
				<div class="row-fluid">
					<div class="span12">e</div>
				</div>
				<div class="row-fluid">
					<div class="span12">f</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">footer</div>
		</div>
	</div>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="Static/js/bootstrap.min.js"></script>
</body>
</html>